useDynLib(HydroModels)
import(Hydro, stats) 
#unclear what to import, removed graphics, sp
importFrom("graphics", "plot")

export(topmodel)


exportMethods(topmodel, validate)
# import packages that define generics for the exported methods
# (e.g. stats for simulate)


