useDynLib(RHydro)

export( NSeff,
       get.data.types,
       get.stations,
       get.runCount,
       get.HydroTS,
       topidx,
       topidx.classes,
       topmodel,
       wasim.data.types,
       rhydro.data.types,
       plot_rainfall.runoff,
       wasim.read.ModelRun,
       wasim.file2HydroTS)

exportClasses(HydroTS,
              HydroFlux,
              HydroState,
              HydroModelRun,
              HydroModelParameters,
              HydroTopmodelParameters,
              HydroWasimParameters)

exportMethods(print, plot, coerce)
import(methods) 
#unclear what to import, removed graphics, sp
