##useDynLib(topmodel)

export(stations,
       NSeff,
       topidx,
       data.types,
       stations,
       getHydroTS,
       wasim.data.types,
       wasim.read.ModelRun,
       wasim.file2HydroTS)

exportClasses(HydroTS,
              HydroFlux,
              HydroState,
              HydroModelRun,
              HydroModelParameters,
              HydroTopmodelParameters,
              HydroWasimParameters)

exportMethods(print,plot)
import(methods, graphics, sp)
