useDynLib(RHydro)

export(stations,
       NSeff,
       data.types,
       stations,
       getHydroTS,
       topidx,
       topidx.classes,
       topmodel,
       wasim.data.types,
       wasim.read.ModelRun,
       wasim.file2HydroTS)

exportClasses(HydroTS,
              HydroFlux,
              HydroState,
              HydroModelRun,
              HydroModelParameters,
              HydroTopmodelParameters,
              HydroWasimParameters)

exportMethods(print, plot)
import(methods, graphics, sp)
