useDynLib(HydroModels2)
import(Hydro2) #EP:, stats) 
#unclear what to import, removed graphics, sp
importFrom("graphics", "plot")

export(topmodel, validate.topmodel)


exportMethods(topmodel)
# import packages that define generics for the exported methods
# (e.g. stats for simulate)


