##useDynLib(topmodel)

##export(topmodel)

exportClasses(HydroTS,
              HydroFlux,
              HydroFluxes,
              HydroState,
              HydroStates,
              HydroModelRun,
              HydroModelParameters,
              HydroTopmodelParameters)

exportMethods(show,print,plot)
