export( addCV,             deleteDataValues,   odm.close, 
addDataValues,             expandVar,          reload, 
addISOMetadata,            expand.where,       restructureDataResult, 
addOffsetType,             getDataValues,
addSite,                   getDataVersions,         
addSource,                 getID,   
addSpatialReferences,                     
addSynonym, exportSynonyms, importSynonyms,
getMetadata,         
addUnits,                              
addVariable,                                
addQualityControlLevel,
updateCV, 
updateDataValues, 
CVtables, getDefaultDB)

exportClasses("odm1_1", "odm1_1Ver", "inherited_stfdf")

exportMethods(show, plot)
export(stplot)

# Import all packages listed as Imports or Depends
import(
  spacetime,
  xts,
  DBI,
  vwr,
  methods,
  sp
)
importFrom(e1071, permutations)
importFrom(zoo, coredata)
importFrom(zoo, plot.zoo)
