export( addCV,                     deleteDataValues,   odm.close, 
addDataValues,             expandVar,          reload, 
addISOMetadata,            expand.where,       restructureDataResult, 
addOffsetType,             getDataMatrix,       
addSite,                   getDataValues,       
addSource,                 getDataVersions,     
addSpatialReferences,      getID,               
addSynonym, exportSynonyms, importSynonyms,
getMetadata,         
addUnits,                              
addVariable,                                
addQualityControlLevel,
updateCV, 
updateDataValues, 
CVtables, getDefaultDB)

exportClasses("odm1_1", "odm1_1Ver", "observations")

exportMethods(show, plot, merge)

# Import all packages listed as Imports or Depends
import(
  xts,
  zoo,
  DBI,
  vwr,
  methods
)
importFrom(e1071, permutations)
